@font-face {
	font-family: 'Absans Regular';
	src: url('/src/assets/fonts/CLT-Absans/web/Absans-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sneaky Times';
	src: url('/src/assets/fonts/CLT-Sneaky_Times/web/Sneaky-Times.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Redaction Bold';
	src: url('/src/assets/fonts/Redaction/Redaction-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Redaction Italic';
	src: url('/src/assets/fonts/Redaction/Redaction-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Redaction Regular';
	src: url('/src/assets/fonts/Redaction/Redaction-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
