:root {
	--font-family: "Redaction Regular", Verdana, Tahoma, sans-serif;
	/* --spacing-unit: 0.75rem; */
	--spacing-unit: 1.25rem;
	--large: 1rem;
	--normal: 0.5rem;
	--small: 0.33rem;
}

html {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: #f8f8f8;
	overflow-x: hidden;
	color: #1b1b1b;
	font-family: "Redaction Regular", Verdana, Tahoma, sans-serif;
	display: block;
}

main {
	position: relative;
	min-height: 100vh;
}

a:hover {
	color: #ff0080;
	transition: ease 500ms;
	cursor: pointer;
}

i:hover {
	color: #ff0080;
	transition: ease 500ms;
}

button {
	cursor: pointer;
}

/* Scrollbar */
*::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	width: 5px;
}

/* Selection */
*::selection {
	color: orangered;
	background: transparent;
}

/* Highlight */
.highlight-link {
	text-decoration: none;
	background-image: linear-gradient(
		to right,
		rgba(254, 255, 162, 0.8) 0%,
		rgba(254, 255, 162, 0.8) 50%,
		#1b1b1b 50%,
		#1b1b1b 100%
	);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 200% 1px;
	transition: background-position 0.5s ease 0.3s, background-size 0.3s ease 0s;
	padding: 2px 0px;
}

.highlight-no-line {
	text-decoration: none;
	background-image: linear-gradient(
		to right,
		rgba(254, 255, 162, 0.8) 0%,
		rgba(254, 255, 162, 0.8) 50%,
		#f8f8f8 50%,
		#f8f8f8 100%
	);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 200% 1px;
	transition: background-position 0.5s ease 0.3s, background-size 0.3s ease 0s;
	padding: 2px 0px;
}

.highlight-link:hover {
	background-position: 0% 100%;
	background-size: 200% 22px;
	transition: background-position 0.3s ease 0s, background-size 0.5s ease 0.3s;
}

/* heart */
.text:hover {
	color: #ff0080;
	cursor: pointer;
}

/* my laptop */
#textSpan:hover {
	font-size: 1rem;
}

/* Content */
.wrapper {
	margin: 0;
	padding: 2rem;
	padding-left: 3rem;
	padding-right: 3rem;
	position: relative;
}

.container {
	/* position: relative; */
	display: contents;
	height: 100vh;
	z-index: 0;
	flex-wrap: wrap;
}

/* Div Grid */
/* If four <grid-line> values are specified, 
    grid-row-start is set to the first value, 
    grid-column-start is set to the second value, 
    grid-row-end is set to the third value, and 
    grid-column-end is set to the fourth value. */
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1;
	grid-gap: var(--spacing-unit);
}

/* Main Grid */
.grid-2 {
	display: grid;

	grid-row: 1;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: var(--spacing-unit);
	flex-wrap: wrap;
}

/* Footer Grid */
.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1;
	grid-gap: var(--spacing-unit);
}

/* Navigation Bar */
nav {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
}

#navName {
	grid-area: 1 / 3 / 1 / 3;
	align-self: start;
}
#navName-desc {
	grid-area: 2 / 2 / 2 / 5;
	align-items: center;
	padding-left: 0.25rem;
	padding-right: 0.5rem;
	flex-direction: column;
}

#navTab {
	grid-area: 1 / 3 / 2 / 4;
	align-self: start;
}

/* If I have the span-spacer, get rid of the ampersand. */
.span-spacer {
	display: inline-block;
	height: 60vh;
	background-color: transparent;
}

/* Heading */
h1 {
	/* font-size: 3.25rem; */
	font-size: 3.5rem;
}

h2 {
	/* font-size: 2rem; */
	font-size: 2.25rem;
}

h3 {
	/* font-size: 1rem; */
	font-size: 1.25rem;
}

p {
	/* font-size: 1rem;
	padding-top: 1rem; */
	font-size: 1.25rem;
	padding-top: 1.25rem;
}

/* Projects */
.project {
	position: static;
	padding-top: 2.45rem;
	padding-bottom: 2.45rem;
}

/* figure out how to contain without pushing everything else */
.project img {
	width: fit-content;
	height: fit-content;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.project video {
	max-height: 100%;
	width: auto;
}

.project-desc {
	grid-area: 1 / 9 / 1 / 13;
	align-self: start;
	padding-left: 1.25rem;
}

.project-desc h3 {
	opacity: 45%;
}

.p1 {
	grid-area: 1 / 1 / 1 / 9;
}

.p2 {
	grid-area: 1/ 1 / 2 / 9;
}

.p3 {
	grid-area: 1 / 1 / 3 / 9;
}

.p4 {
	grid-area: 1 / 1 / 4 / 9;
}

.p5 {
	grid-area: 1 / 1 / 5 / 9;
}

/* added this one last */
.p6 {
	grid-area: 1 / 1 / 5 / 9;
}

/* Footer for the main page */
footer {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.footer {
	font-family: "Redaction Italic", Verdana, Tahoma, sans-serif;
	bottom: 0;
	flex-grow: 1;
	text-align: left;
	margin: 0;
	padding: 0;
	display: grid;
	z-index: 30;
	align-items: start;
	padding-bottom: 0.5rem;
}

#footerUpdate {
	grid-column: 3 / 4;
	cursor: pointer;
	padding-left: 1.25rem;
}

#footerUpdate:hover {
	color: #ff0080;
}

.footer-spacer {
	background-color: #1b1b1b;
	height: 1px;
	flex-grow: 1;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	align-self: baseline;
	display: block;
}

.footer-spacer-darkMode {
	background-color: #f8f8f8;
}

/* Interesting Hover Effects */
.scramble {
	width: 200px;
}

.scramble:hover {
	color: #ff0080;
	transition: ease 500ms;
	cursor: auto;
}

/* https://youtu.be/Ob7vObnFUJc?si=H5uDjLf0NspdRxuy */
.scroll-up {
	margin: 0;
	position: fixed;
	right: 0.5%;
	bottom: 1.29%;
	z-index: 40;
	cursor: pointer;
}

#scroll-up-arrow {
	font-size: 3rem;
	padding-right: 1rem;
}

/* Rotations */
.rotate {
	transform: rotate(45deg);
	/* Safari */
	-webkit-transform: rotate(45deg);
	/* Firefox */
	-moz-transform: rotate(45deg);
	padding: 0;
}

.rotate90 {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	padding: 0;
}

.rotate270 {
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	padding: 0;
}

/* Socials ;p */
.socials {
	margin: 0;
	padding: 0.5em;
	right: 1%;
	bottom: 50%;
	display: flex;
	flex-direction: column;
	position: fixed;
	text-align: right;
	background-color: rgba(248, 248, 248, 0.5);
	backdrop-filter: blur(5px);
	z-index: 60;
}

/* Remove blur effect from text and buttons */
.socials a,
.socials input,
.socials button {
	backdrop-filter: none;
}

.socicon {
	width: 2rem;
	height: 2rem;
}

#and-tiny {
	display: none;
}

/* Email */
#email {
	display: none;
}

#copyEmail:visited {
	color: #ff0080;
}

#copyEmail:active {
	color: #ff0080;
}

/* Dark mode */
.darkMode {
	background-color: #1b1b1b;
	color: #f8f8f8;
}

.hidden {
	display: none;
}

.light-text {
	color: #f8f8f8;
}

.carousel-container {
	/* flex: 1;
	order: 1; */
	position: relative;
	height: 35em;
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.carousel-container > * {
	/* all children of .carousel-container */
}

.left-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	cursor: pointer;
	opacity: 0.2;
}

.right-area {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	cursor: pointer;
	opacity: 0.2;
}

/* change to the other arrows */
.left-area:hover {
	cursor: w-resize;
}

.right-area:hover {
	cursor: e-resize;
}

.then_media {
	object-fit: cover;
	height: 100%;
}

.window_media {
	max-width: 100%;
	height: auto;
}

.scramble-2 {
	display: none;
}

/* Media queries */
@media (min-width: 3400px) {
	body {
		display: flex;
	}

	.wrapper {
		margin: 0 auto;
		padding: 4rem;
		box-sizing: border-box;
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		display: flex;
	}

	.grid {
		/* Change the second column to auto width */
		grid-template-columns: 1fr auto;
	}

	.grid > :nth-child(2) {
		margin: 0 auto;
		box-sizing: border-box;
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#header {
		margin: 0;
		margin-top: 3rem;
		margin-right: 4vw;
		width: 30%;

		flex-shrink: 0;

		position: fixed;
		top: 0;
		left: 3rem;

		z-index: 30;
	}

	#navName-desc {
		padding-right: 2.25rem;
	}

	.span-spacer {
		display: none;
	}

	main.container {
		width: 60%;
		flex-grow: 1;
	}

	.container-main {
		margin-left: 33%;
	}

	h1 {
		font-size: 4.25rem;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2rem;
	}

	p {
		font-size: 2rem;
		padding-top: 2rem;
	}

	.footer-spacer {
		background-color: #1b1b1b;
		height: 1px;
		flex-grow: 1;
		margin-top: 3.5rem;
		margin-bottom: 3.5rem;
		align-self: baseline;
		display: block;
	}

	.socials a,
	.socials input,
	.socials button,
	#email {
		font-size: 2rem;
	}

	.socials {
		left: 1%;
		text-align: left;
		background-color: transparent;
		backdrop-filter: blur(0px);
	}

	.carousel-container {
		height: 30vh;
	}

	#textSpan:hover {
		font-size: 1.75rem;
	}

	.scramble {
		display: none;
	}

	.scramble-2 {
		display: block;
		position: absolute;
		top: 190.25vh;
		left: 3rem;
	}
	.scramble-2:hover {
		color: #ff0080;
	}
}

@media only screen and (max-width: 3400px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2.75rem;
	}

	h3 {
		font-size: 1.75rem;
	}

	p {
		font-size: 1.75rem;
		padding-top: 1.75rem;
	}

	.socials a,
	#email {
		font-size: 1.75rem;
		left: 1%;
		text-align: left;
	}

	a:hover {
		color: #ff0080;
	}

	.span-spacer {
		height: 55vh;
	}
}

/* my laptop size; 3072px;  */
@media only screen and (max-width: 3072px) {
	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 2.25rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	p {
		font-size: 1.25rem;
		padding-top: 1.25rem;
	}

	.socials a,
	#email {
		font-size: 1.25rem;
		text-align: right;
	}

	.carousel-container {
		height: 35em;
	}

	.span-spacer {
		height: 58vh;
	}
}

/* after adjusting the larger formats, the mobile needs some review. check the carousel height and width settings. */
@media only screen and (max-width: 1350px) {
	:root {
		--spacing-unit: 0.75rem;
	}

	h1 {
		font-size: 3.25rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1rem;
	}

	p {
		font-size: 1rem;
		padding-top: 1rem;
	}

	.socials a,
	#email {
		font-size: 1rem;
	}

	#header {
		position: static;
		width: 100%;
	}

	body {
		display: block;
	}

	#nature-wall {
		object-fit: cover;
		width: 95%;
	}

	#textSpan:hover {
		font-size: 1rem;
	}

	/* full hr */
	.wrapper {
		padding: 0;
	}

	.project {
		padding: 3rem;
	}

	#top {
		padding: 3rem;
		padding-right: 0;
	}

	.footer {
		padding-left: 3rem;
		padding-right: 3rem;
		padding-bottom: 3rem;
	}

	.socials a {
		padding-right: 0;
	}

	#linkedInLink {
		padding: 10px;
		padding-bottom: 0;
		padding-right: 0;
	}

	.email-popup-Link {
		padding: 10px;
		padding-top: 0;
	}
}

@media only screen and (max-width: 1250px) {
	.carousel-container {
		height: 30em;
	}

	.span-spacer {
		height: 42vh;
	}
}

@media only screen and (max-width: 1080px) {
	.carousel-container {
		height: 25em;
	}

	.span-spacer {
		height: 40vh;
	}

	#navTab {
		display: none;
	}

	#top {
		padding: 3rem;
	}

	.grid {
		display: flex;
	}

	#navName-desc {
		padding-right: 26rem;
	}

	#navTab {
		font-size: 2rem;
		display: none;
	}
}

@media only screen and (max-width: 810px) {
	#navName-desc {
		display: inline-block;
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 0.25rem;
		padding-right: 0.5rem;
	}

	.carousel-container {
		height: 20em;
	}
}

/* Mobile */
@media only screen and (max-width: 600px) {
	.grid {
		display: inline;
	}

	#navName {
		position: relative;
	}

	#navName-desc {
		text-align: left;
		align-content: center;
	}

	#navTab {
		font-size: 2rem;
		display: none;
	}

	/* Define a flexbox layout for the container */
	.project {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem;
	}

	.scale-down {
		padding: 1rem;
	}

	/* Style the project description */
	.project-desc h2 {
		font-size: 1.5rem;
	}

	.project-desc h3 {
		font-size: 16px;
		opacity: 45%;
	}

	.project-desc p {
		font-size: 16px;
		padding-top: 0.5rem;
	}

	.project-desc {
		order: 2;
		padding: 0.8rem;
		text-align: left;
	}

	#and-tiny {
		display: block;
	}

	.scroll-up {
		display: none;
	}

	#scroll-up-arrow {
		display: none;
	}

	.carousel-container {
		padding: 0.75em;
		height: 100%;
	}

	.span-spacer {
		height: 40vh;
	}

	.left-area {
		display: none;
	}

	.right-area {
		display: none;
	}

	#footerUpdate {
		display: none;
	}

	.project img {
		max-height: 25vh;
	}

	.wrapper {
		padding: 0;
	}

	#top {
		padding: 1.8rem;
	}

	.footer {
		padding: 0;
	}

	.scramble {
		padding-left: 1.8rem;
		padding-bottom: 1rem;
		/* display none if you have socials at bottom */
		/* display: none; */
	}

	#nature-wall {
		width: auto;
	}

	/* socials in footer? make the footer padding-bottom 0 if you put the socials in the footer instead of fixed */
	/* .socials {
		padding-left: 1.8rem;
		padding-top: 0;
		padding-bottom: 1rem;
		right: auto;
		bottom: auto;
		position: absolute;
		align-items: flex-start;
	} */

	img {
		max-width: 100%;
		height: auto;
		object-fit: contain;
	}

	video {
		max-width: 100%;
		height: auto;
		object-fit: contain;
	}
}

@media only screen and (max-width: 430px) {
	.scale-down {
		padding: 0;
	}
}
