:root {
	--font-family: "Redaction Regular", Verdana, Tahoma, sans-serif;
	--spacing-unit: 0.5rem;
	--large: 1rem;
	--normal: 0.5rem;
	--small: 0.33rem;
}

html {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: #f8f8f8;
	overflow-x: hidden;
	color: #1b1b1b;
	/* font-family: var(--font-family); */
	font-family: "Redaction Regular", Verdana, Tahoma, sans-serif;
}

main {
	position: relative;
	min-height: 100vh;
}

a:hover {
	color: #ff0080;
	transition: ease 500ms;
}

i:hover {
	color: #ff0080;
	transition: ease 500ms;
}

.scramble:hover {
	color: #ff0080;
	transition: ease 500ms;
}

/* Scrollbar */
*::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	width: 5px;
}

/* Handle */
/* *::-webkit-scrollbar-thumb {
	background-color: darkorchid;
	border-radius: 3px;
} */

/* Selection */
*::selection {
	color: orangered;
	background: transparent;
}

/* Highlight */
.highlight-link {
	text-decoration: none;
	background-image: linear-gradient(
		to right,
		rgba(254, 255, 162, 0.8) 0%,
		rgba(254, 255, 162, 0.8) 50%,
		#1b1b1b 50%,
		#1b1b1b 100%
	);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 200% 1px;
	transition: background-position 0.5s ease 0.3s, background-size 0.3s ease 0s;
	padding: 2px 0px;
}

.highlight-link:hover {
	background-position: 0% 100%;
	background-size: 200% 22px;
	transition: background-position 0.3s ease 0s, background-size 0.5s ease 0.3s;
}

/* Content */
.wrapper {
	margin: 0;
	padding: 2rem;
	padding-left: 3rem;
	padding-right: 3rem;
	position: relative;
}

.container {
	/* position: relative; */
	display: contents;
	height: 100vh;
	z-index: 0;
	/* flex-shrink: 1; */
	flex-wrap: wrap;
}

nav {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

/* Div Grid */
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1;
	/* grid-column-gap: 0px;
	grid-row-gap: 0px; */
	grid-gap: var(--spacing-unit);
	/* margin: var(--spacing-unit); */
}

/* Main Grid */
.grid-2 {
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	/* grid-template-rows: repeat(2, 1fr); */
	grid-row: 1;
	grid-template-columns: repeat(12, 1fr);
	/* grid-gap: var(--spacing-unit); */
	grid-column-gap: var(--spacing-unit);
	flex-wrap: wrap;
}

/* Footer Grid */
.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1;
	grid-gap: var(--spacing-unit);
}

/* If four <grid-line> values are specified, 
    grid-row-start is set to the first value, 
    grid-column-start is set to the second value, 
    grid-row-end is set to the third value, and 
    grid-column-end is set to the fourth value. */

#navName {
	/* Span from column 1 to column 3 */
	/* grid-area: 1 / 1 / 1 / 3; */
	grid-area: 1 / 3 / 1 / 3;
	align-self: start;
}
#navName-desc {
	grid-area: 2 / 2 / 2 / 5;
	align-items: center;
	padding-left: 0.25rem;
	padding-right: 0.5rem;
	flex-direction: column;
}

#navTab {
	/* grid-row-start: 1;
	grid-column-start: 5; */
	grid-area: 1 / 3 / 2 / 4;
	align-self: start;
}

/* .div3 {
	grid-area: 2 / 1 / 4 / 3;
}
.div4 {
	grid-area: 2 / 3 / 4 / 4;
} */

/* Heading */
h1 {
	font-size: 3.25rem;
}

h2 {
	/* font-size: 1.5rem; */
	font-size: 2rem;
}

h3 {
	/* font-size: 0.8rem; */
	font-size: 1rem;
	/* font-family: 'Redaction Italic', Verdana, Tahoma, sans-serif; */
}

p {
	font-size: 1rem;
	padding-top: 1rem;
}

/* Content */
.project {
	/* height: 100%; */
	position: static;
	/* display: grid; */
}

.project img {
	max-height: 100%;
	width: auto;
}

.project video {
	max-height: 100%;
	width: auto;
}

.project-desc {
	grid-area: 1 / 9 / 1 / 13;
	align-self: start;
}

.p1 {
	/* rcrc */
	grid-area: 1 / 1 / 1 / 9;
}

.p2 {
	grid-area: 1/ 1 / 2 / 9;
}

.p3 {
	grid-area: 1 / 1 / 2 / 9;
}

.p4 {
	grid-area: 1 / 1 / 4 / 9;
}

.p5 {
	grid-area: 1 / 1 / 5 / 9;
}

.scale-down {
	object-fit: scale-down;
	/* padding: 1rem; */
	max-width: 100%;
	align-content: center;
	justify-content: space-around;
}

.footer-spacer {
	background-color: #1b1b1b;
	height: 1px;
	flex-grow: 1;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	align-self: baseline;
	display: block;
}

/* Footer for the main page */
footer {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.footer {
	font-family: "Redaction Italic", Verdana, Tahoma, sans-serif;
	bottom: 0;
	/* width: 100vw; */
	flex-grow: 1;
	text-align: left;
	margin: 0;
	padding: 0;
	display: grid;
	z-index: 30;
	align-items: center;
	padding-bottom: 0.5rem;
	/* justify-items: end; */
	/* grid-area: 1/1/3/3; */
}

#footerUpdate {
	grid-column-start: 3;
	/* grid-row-end: 2; */
	grid-column-end: 4;
}

/* Interesting Hover Effects */
.scramble {
	/* what width to get the scramble to stop jiggling?? */
	width: 200px;
}

/* Back on top! */
.scroll-up {
	position: fixed;
	/* right: 0.5%; */
	bottom: 1.29%;
	cursor: pointer;
	z-index: 40;
}

#scroll-up-arrow {
	font-size: 3rem;
	padding-right: 3rem;
}

.rotate {
	transform: rotate(45deg);
	/* Safari */
	-webkit-transform: rotate(45deg);
	/* Firefox */
	-moz-transform: rotate(45deg);
	padding: 0;
}

.socials {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 1%;
	bottom: 50%;
}

.socicon {
	width: 2rem;
	height: 2rem;
}
