/* Star Sticker */
.sticker-text {
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Schibsted Grotesk", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 3rem;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 19;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: move;
}

#burst-12 {
	background: red;
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 100;
	margin: 0;
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	left: 4.5rem;
	top: 47rem;
	cursor: grab;
}

#burst-12:active {
	cursor: grabbing;
}

#bursty {
	font-size: 1.2rem;
	background: linear-gradient(
		130deg,
		hotpink,
		mediumslateblue,
		blueviolet,
		darkturquoise,
		mediumspringgreen,
		gold,
		orange,
		red
	);
	color: white;
	background-clip: text;
	-webkit-background-clip: text;
	cursor: pointer;
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

#burst-12:before,
#burst-12:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background: red;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}

#burst-12:before {
	transform: rotate(30deg);
}

#burst-12:after {
	transform: rotate(60deg);
}

#bursty:hover {
	color: transparent;
	transition: 500ms ease-in-out;
}

/* <!-- Stickers -->
<!-- <button
	id="colorChange"
	type="button">
	<div
		id="burst-12"
		draggable="true">
		<h2
			id="bursty"
			class="sticker-text">
			MADE WITH LOVE
		</h2>
	</div>
</button> --> */
